#banner img{
    width: 200px;
    margin-left: 50%;
    margin-right: 50%;
    margin-bottom: 50px;
    margin-top: 30px;
}
body{
    color: rgb(0,0,0);
    background-color: hsla(192, 87%, 60%, 0.239);
    font-family: Arial, Helvetica, sans-serif;
}
#headsection{
    background-image: url(../images/noct.jpg);
    background-size: cover;
    height: 430px;
}

#bestsell{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin: 30px auto;
    box-shadow: 1px 2px 3px 2px rgb(146, 147, 150);
    width: 350px;
    padding: 10px;
    border-radius: 10px;
}

#navmenu{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.head{
    display: inline-block;
    color: white;
    margin-top: 70px;
    font-size: 2rem;
    max-width: 800px;
    text-shadow: 2px 2px 5px #8bc3e975;
}
#navlist{
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    padding: 0;
    list-style: none;
    width: 100%;
    max-width: 1500px;
}
#navlist > li> a{
    display: inline;
    border: 2px solid;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s ease;
    border-color: lightblue;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#navmenu > #navlist > li > a:hover{
    transform: scale(1.9); /* Increase size */
  box-shadow: 0px 1px 4px rgb(199, 202, 252); /* Add shadow */
  background-color: #a3d6ee81; /* (optional) light background on hover */
  
}

#newreleaserow{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

#imgcontainer1,#imgcontainer2,#imgcontainer3{
    display: inline-block;
    margin: 0;

}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

#imgcontainer1 img,#imgcontainer2 img,#imgcontainer3 img{
    flex-wrap: nowrap;
    width: 400px;
    height: auto;
    display: inline-block;
    background-color: transparent;
    animation: slideInFromLeft 2s ease-in-out;
    transition: 0.3s ease;
}

#imgcontainer1 img:hover,#imgcontainer2 img:hover,#imgcontainer3 img:hover{
    transform: scale(1.03); /* Increase size */
    box-shadow: 0px 0px 0px 3px rgb(252, 252, 252); /* Add shadow */
}

.divheadings{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
}

.descriptions{
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 0px 1px rgb(252, 252, 252); 
    border-radius: 10px;
    background-color: rgba(171, 219, 245, 0.514);
    padding: 5px;
}

#txt1,#txt2,#txt3{
    border: 2px solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(237, 249, 253);
    width: 25%;
    text-align: center;
    transition: 0.3s ease;
    margin-left: 10px;
    padding: 10px;
}

#txt1:hover,#txt2:hover,#txt3:hover{
    transform: scale(1.1);
}

#companydet{
    color: white;
    background-image: url(../images/formtrial6.jpg);
    box-shadow: 0px 0px 0px 3px rgb(252, 252, 252); 
}

#companyhead{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
    padding-top: 10px;
}

#companydetails{
    border-radius: 10px;
    background-color: rgba(189, 224, 243, 0.432);
    width: 85%;
    height: 90%;
    margin: 50px auto;
}

.details{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    text-align: center;
    margin: 30px;
    padding: 20px;
}

#nike{
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

#homefooter{
    border: 2px solid;
    border-color: lightgray;
    text-align: center;
    margin-top: 50px;
    background-color: rgba(131, 129, 126, 0.527);

}
#homefooter > p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;
    text-decoration: underline;
}

#whatsapp,#xlogo,#ig{
    width: 40px;
    border-radius: 15px;
}

